{% extends "page/base.html" %}

{% block body %}
    <table>
        <thead>
        <tr>
            <td>
                nombre
            </td>
            <td>
                descripcion
            </td>
            <td>
                fecha limite
            </td>
        </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td>
                    {{ cita.nombre }}
                </td>
                <td>
                    {{ cita.descripcion }}
                </td>
                <td>
                    {{ cita.fecha_limite }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}